* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent: #FCA311;
    --grey: #1C1C1C;
    --secondary_bg: #18191D;
    --secondary_accent: #0d6caf;

}

.overlay__search--close {
    position: absolute;
    top: 1%;
    right: 5%;
    color: var(--accent);
    font-size: 2rem;
    cursor: pointer;
}


.overlay__search {
    min-height: 100vh;
    height: 100vh;
    max-height: auto;
    background: var(--grey);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    z-index: 2500;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    overflow-x: hidden;

    transition: 0.5s;
}

.overlay__search.active {
    width: 100vw;
}

.site__wrapper.active {
    height: 100vh;
    overflow: hidden;
}



.overlay__search--input {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 0.2rem solid var(--accent);
    background: transparent;
    color: var(--accent);
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    min-height: 3.2rem;

}

.searchInput {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--accent);
    padding: 0 0.5rem;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.searchInput:focus {
    outline: none;
}

/* Placeholder Style */
:-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    var(--secondary_accent);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    var(--secondary_accent);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    var(--secondary_accent);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    var(--secondary_accent);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    var(--secondary_accent);
}

::placeholder { /* Most modern browsers support this now. */
    color:    var(--secondary_accent);
}

.overlay__search--kontejner {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.film__search {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 70%;
    grid-gap: 30px;
    height: auto;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background: var(--secondary_bg);
}

img {
    width: 100%;
    box-shadow: 0 0 0.5rem #04040570;
}

.poster__search {
    width: 100%;
}

.tekst__search h2 {
    color: var(--accent);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.tekst__search span {
    color: var(--secondary_accent);
}
.tekst__search h4 {
    padding-top: 0.4rem;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
}

.tekst__search {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.buttons__search {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.buttons__search button {
    font-size: 1.2rem;
    background: transparent;
    border: 0.1rem solid var(--accent);
    color: var(--accent);
    padding: 0.4rem 0.8rem;
    margin: 1rem 1rem;
}



.projekcije__kontejner__search {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.projekcija__search {
    padding: 0.4rem 0.8rem;
    width: auto;
    box-shadow: 0 0 1rem #04040570;
    margin: 0.5rem 0;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.projekcija__search h4:first-child {
    color: var(--accent);
    font-size: 1.2rem;
    border: none;
}


.projekcija__search h4 {
    padding: 0.1rem 0;
}
